@charset "utf-8";
/* 초기화 */
* { margin: 0; padding: 0;}
a { text-decoration: none; color: #000;}
a:hover	{color:#333; text-decoration:none;}
li { list-style: none;}
section { width: 100%; height: 100vh;}
.hidden {text-indent: -9999px; }
/* header */
#headerWrap { width: 100%;  height: 100vh; z-index: 1;}
/*상단 로그인 메뉴*/
#nav1 {margin-left: 60%;  padding-top: 10px; position: relative; z-index: 9999;font-size: 13px;  width: 600px; height: 30px;}
#nav1 ul { display: flex;}
#nav1 ul li{height: 30px;}
#nav1 ul li a{color: #000;
    font-size: 15px;
    display: block;
    line-height: 30px;
    padding: 0 12px; }
#nav1 ul li a img{display: block; text-align: center;}
/*로고와 메인 메뉴*/
#headersection {position: relative;  width: 90%; height: 40px; display: flex; flex-direction: row; padding: 40px 0 0 0;margin: 0 5%; z-index: 9999;}
#nav2 { width: 100%;}
#headersection.nav2Wrap { position: fixed; top: -70px; background: rgba(0, 0, 0, 0);
}
#TopLogo a{display: block; margin-left:  50px; width: 248px; height: 30px; line-height: 30px;  background-image: url(../img/header/top_logo.png); background-repeat: no-repeat; background-size: 100%; }
#nav2 ul { margin-left: 10%; }
#nav2 > ul > li { width: 140px; height: 29px; padding-bottom: 10px; float: left ; overflow: hidden; text-align: center;}
#nav2 > ul > li:first-child {margin: 0 0 0 180px ;}
#nav2 > ul > li > a {width: 150px; height: 30px; line-height: 30px; font-size: 23px; font-weight: bolder;}
#nav2 > ul > li:hover {box-sizing: border-box; height: 240px; transition: 0.55s linear;}

#nav2 > ul > li > ul { margin-top: 10px;background:rgba(255,255,255,1); border:1px solid rgba(0,0,0,0.2);border-radius: 0 0 25% 25%;}
#nav2 > ul > li > ul > li{border-bottom:1px solid rgba(0,0,0,0.2); font-size: 15px; padding: 3px 0;}
#nav2 > ul > li > ul > li:last-child{ border: 0px;}

/*header slider*/
#headersliderWrap {position: absolute; top: 0; width: 100%; height: 100vh; overflow: hidden;}
#headersliderlist{ width: 300%; height: 100vh;}
.headerslider > a{display: block; width: 33.3333%; float: left; height: 100vh;}
.headerslider1 a{ background-image: url(../img/header/main_img01.jpg);background-repeat: no-repeat;}
.headerslider2 a{ background-image: url(../img/header/main_img02.jpg);background-repeat: no-repeat;}
.headerslider3 a{ background-image: url(../img/header/main_img03.jpg);background-repeat: no-repeat;}

#headersliderbutton { width: 100px; height: 15px; position: absolute; left: calc(50% - 15px); bottom: 20px; z-index: 999;}
#headersliderbutton a { display: block; width: 10px; height: 10px;
            margin: 0 10px; border-radius: 50%; float: left;
            text-align: center; line-height: 10px;
            background: #000;}
#headersliderbutton a.active { background: rgb(255, 255, 255);}


/*section 상품통일*/
.nowname{font-weight: 600; font-size: 16px;}
.nowinfo{ font-size: 12px;}
.beforeprice {font-size: 14px;}
.nowprice{font-size: 16px; font-weight: bold;}

/*section1 신상*/
#newproductpage {width: 100%; height: 100vh; position: relative;}
#newproductpage h3 {position: absolute; top: 50px; left: calc(50% - 75px); font-size: 50px;}
#newproductWrap {width: 1240px; height: 50vh; position: absolute; top: 150px; left: calc(50% - 600px);}
#newproductlist { height: 410px; border: 1px solid #000; display: flex; overflow: hidden;}
.newmenu {margin: 5px 20px; width: 270px; height: 410px; text-align: center; float: left;}
.newnumbox {width: 50px; background: rgba(255, 0, 0, 0.6); color: white; float: left; line-height: 25px;}
.newnum {width: 25px; height: 25px; font-weight: bolder; font-size: large;}
.newmenu a { height: 380px; }
.newmenu > a > img{width: 268px; height: 248px;}

/*section2 top 10*/
#top10page{width: 100%; height: 100vh; position: relative; }
#top10page h3 {position: absolute; top: 50px; left: calc(50% - 75px); font-size: 50px;}
#top10Wrap { width: 1240px; height: 50vh; position: absolute; top: 150px; left: calc(50% - 600px);}
#top10list { height: 410px; border: 1px solid #000; display: flex; overflow: hidden;}
.top10menu {margin: 5px 20px; width: 270px; height: 410px; text-align: center; float: left;}
.top10numbox {width: 50px; background: rgba(255, 0, 0, 0.6); color: white; float: left; line-height: 25px;}
.top10num {width: 25px; height: 25px; font-weight: bolder; font-size: large;}
.top10menu a { height: 380px; }
.top10menu > a > img{width: 268px; height: 248px;}

/*section3 hotdeal*/
#hotdealpage{width: 100%; height: 100vh; position: relative; }
#hotdealpage h3 {position: absolute; top: 50px; left: calc(50% - 75px); font-size: 50px;}
#hotdealWrap { width: 1240px; height: 50vh; position: absolute; top: 150px; left: calc(50% - 600px);}
#hotdeallist { height: 410px; border: 1px solid #000; display: flex; overflow: hidden;}
.hotdealmenu {margin: 5px 20px; width: 270px; height: 410px; text-align: center; float: left;}
.hotdealnumbox {width: 50px; background: rgba(255, 0, 0, 0.6); color: white; float: left; line-height: 25px;}
.hotdealnum {width: 25px; height: 25px; font-weight: bolder; font-size: large;}
.hotdealmenu a { height: 380px; }
.hotdealmenu > a > img{width: 268px; height: 248px;}




/*aside 배너*/
#banner { width: 70px; height: 300px; background: #fff; border-radius: 10%;
    position:absolute; top: 500px; right: 2px; overflow: hidden;
}
/*logo*/
#bannerlogo { height: 60px; background-image: url(../img/banner/top_logo.png); background-repeat: no-repeat ;background-size: 70%; background-position: center;}
#banner ul:nth-child(1) > li:nth-child(1) > a{display: block; text-indent: -9999px; height: 25%;}
/*최근본상품*/
#bannermenu1 {height: 60px; background-image: url(../img/banner/see.jpg); background-repeat: no-repeat ;background-size: 100%; background-position-y: center;}
#bannermenu1 > a{display: block; text-indent: -9999px;height: 60px;}
#bannermenu1 > ul li {position: absolute; left: 100%;}
/*장바구니*/
#bannermenu2 {height: 60px; background-image: url(../img/banner/cart1.jpg); background-repeat: no-repeat ;background-size: 70%; background-position: center;}
#bannermenu2 > a{display: block; text-indent: -9999px;height: 60px;}
#bannermenu2 > ul li {position: absolute; left: 100%;}
/*상담하기*/
#bannermenu3 {height: 60px; background-image: url(../img/banner/문의하기.jpg); background-repeat: no-repeat ;background-size: 60%; background-position: center;}
#bannermenu3 a { display: block; text-indent: -9999px;height: 60px;}
/*상단이동*/
#bannermenu4 {height: 60px; background-image: url(../img/banner/top.jpg); background-repeat: no-repeat ;background-size: 60%; background-position: center;}
#bannermenu4 a { display: block; text-indent: -9999px;height: 60px;}

/*footer 하단*/
hr {margin: 0 0 50px;}
footer{width: 70%; margin-left: 15%; height: 290px;}
#companyinfo {margin-top: 0px; font-size: 14px;}
#companyinfo2 { width: 500px; height: 150px;}
#companyinfo2 ul { float: left; width: 500px;}
#companyinfo2 ul li {float: left; margin: 20px 10px 0; font-weight: bolder;}
#companyinfo2 > p { padding: 100px 5px 0; font-style: oblique;}
#cscenter { margin-left: 700px; margin-top: -300px;}
.cstitle {font-weight: 700; font-size: 18px;}
.cscall {font-weight: 700; font-size: 18px; margin-top: 10px;}
.csinfo {margin-top: 10px; line-height: 25px;}
.csinfo span {font-weight: bolder; font-size: 17px;}
#postboxWrap {margin: 30px 0 0 700px;}
#postbox{ font-weight: bolder;}
#postinfo a {margin-left: 5px; padding: 0 5px; border-radius: 5rem; border: 1px solid #000;}
#companybank {margin: -215px 0 0 1000px}
.companybanknum { font-weight: bolder; margin-bottom: 10px;}
.bankinfo > span {font-weight: 600; line-height: 40px;}